.artistcard {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: white;
}

.counts {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-top: 4rem;
}

.count {
    width: 12rem;
    height: 8rem;
    padding-top: 5rem;
    padding-left: 2rem;
    font-size: x-large;
}

.box {
    width: 100%;
    height: auto;
    margin: auto;
    margin: 2rem;
    font-size: large;
}

.imagebox {
    margin: auto;
    margin: 2rem;
    width: 60%;
    height: 30rem;
    object-fit: cover;
}

li {
    list-style-type: square;
}

.homelist {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 16px;
}

.homecard {
    width: 18rem;
    margin: auto;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: #f7f7ff;
    font-size: large;
    font-weight: bold;
}

.search {
    padding: 4rem;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #f7f7ff;
    transition: 0.3s;
}

.searchbar {
    width: 50% !important;
}